@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none !important;
  font-family: "Poppins" !important;
  scroll-behavior: smooth;
}

.custom-img {
  background-image: url("../../public/images/Header 2.png");
}

@font-face {
  font-family: "The Black Sugare";
  src: url("../../public/The\ Black\ Sugare.ttf");
}

.test-1 {
  font-family: "The Black Sugare";
}
